.event-container {
    overflow-x: auto;
    white-space: nowrap;
}

.event-table{
    min-width:920px;
    /* margin-top: 0 !important; */
}

.bootstrap-select .btn {
    width :100%;
    font-size: 16px;
    background-color : inherit;
    border: none !important; 
    border-radius: 0 !important;
    border-bottom: 1px solid #666666 !important;
    box-shadow: none !important;
    /* margin-top: 5px;
    margin-bottom: 5px; */
    padding-left: 0;
    outline: 0 !important;
}

.bootstrap-select.update-form .btn, .update-form input{
    padding: 0;
    
}

.bootstrap-select.update-form{
    width: 100% !important;
}

.bootstrap-select.update-form .dropdown-menu{
    min-width: 140px !important;
}

.bootstrap-select .btn:focus{
    outline: none;
    border: none; 
    box-shadow: none !important;
    border-bottom: 2px solid #e27f34 !important;
    outline: 0 !important;
}

.card{
    min-height: 80vh;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 20px;
}

.pagination li {
    margin: 0 0px;
}

.pagination li a {
    text-decoration: none;
    padding: 4px 8px;
    color: var(--first-color);
    border: 1px solid #ddd;
    /* border-radius: 4px; */
    cursor: pointer;
}

.pagination li a:hover {
    background-color: #f1f1f1;
}

.pagination li a.active {
    background-color: var(--first-color);
    color: white;
    border: 1px solid var(--first-color);
}

.pagination li a.disabled {
    color: #ccc;
    pointer-events: none;
    border: 1px solid #ddd;
}

.form-control:disabled{
    background-color: inherit; /* Set your desired background color */
    color: black; /* Optional: change text color */
    cursor: not-allowed; /* Optional: change cursor to not-allowed */
    border-bottom: none !important;
}

.form-floating>.form-control:disabled~label::after, .form-floating>:disabled~label::after {
    background-color: inherit;
}